<div class="relative hidden" id="messages_dropdown">
  <%= turbo_frame_tag "messages-dropdown" do %>
    <div class="w-72 origin-top-right absolute right-0 rounded top-full z-20 py-0.5 text-left bg-white border shadow-md lg:block">
      <div class="p-3 font-normal border-b border-gray-200">
        <div class="relative">
          <div class="font-bold">Messages</div>
        </div>
          
          
      </div>
      <div class="max-h-60 overflow-y-auto scrollbars show" id="messages_list">
        <%= turbo_stream_from [current_user, :messages] %>

        <%= render partial: 'messages/message', collection: @messages_notifclear
        %>
        
        
      </div>


            <%= link_to modal_conversation_path(-1) , data: { turbo_stream: "modal_#{current_user.id}" } , class: "bg-green-500 rounded-full hover:bg-yellow-400 text-white font-semibold px-2 rounded focus:outline-none" do %>
            <i class="fas fa-comments">Chats
            </i>
            <% end %>

            <%= link_to new_conversation_path, data: { turbo_frame: "new_conversation_#{current_user.id}" } , class: "bg-blue-500 rounded-full hover:bg-gray-400 text-white font-semibold px-4 rounded focus:outline-none" do %>            
              <i class="fas fa-plus"> New Chat</i>
            <% end %>

    </div>
      
   <% end %>
</div>
