<%= form_with(model: task, html: { class: "max-w-md mx-auto bg-yellow-100 border-l-4 border-yellow-500 p-6 mb-4 rounded-md shadow-md" }) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
      <h2 class="font-semibold"> <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul class="mt-2">
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_field :title, class: "text-center bg-yellow-200 p-2 w-full border border-transparent rounded-md shadow-sm focus:outline-none focus:border-yellow-500 focus:ring focus:ring-yellow-200" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_area :description, class: "text-center bg-yellow-200 p-2 w-full border border-transparent rounded-md shadow-sm focus:outline-none focus:border-yellow-500 focus:ring focus:ring-yellow-200" %>
  </div>

  <div class="mb-4">
    <%= form.label :dueDate, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.datetime_select :dueDate, class: "bg-yellow-200 p-2 w-full border border-transparent rounded-md shadow-sm focus:outline-none focus:border-yellow-500 focus:ring focus:ring-yellow-200" %>
  </div>

  <div class="mb-4">
    <%= form.label :status, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.select :status, ['pending', 'completed'], {}, class: "text-center bg-yellow-200 p-2 w-full border border-transparent rounded-md shadow-sm focus:outline-none focus:border-yellow-500 focus:ring focus:ring-yellow-200" %>
  </div>

  <div class="mb-4">   
    <%= form.number_field :user_id, id: :task_user_id,
     class: "text-center bg-yellow-200 p-2 w-full border border-transparent rounded-md shadow-sm focus:outline-none focus:border-yellow-500 focus:ring focus:ring-yellow-200",
     value: current_user.id, type: :hidden
     %>
  </div>

  <div class="flex items-center justify-center">
    <%= form.submit "Save", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
