<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="flex items-center justify-between pb-6 border-b dark:border-slate-700">
    <h1 class="font-bold text-3xl">My Tasks</h1>
    <div class="flex items-center justify-end">
      <%= form_with url: tasks_path, method: :get, data: { turbo_frame: "tasks", turbo_action: "advance", controller: 'form', action: "input->form#submit" } do %>
        <%= text_field_tag "filter", nil, placeholder: "Filter (title)", class: "inline-block rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "tasks_data" do %>
    <div class="flex items-center p-3 bg-teal-600 text-white space-x-6 rounded">
      <%= link_to "Title", tasks_path(column: "title"), class: "underline" %>
      <%= link_to "Description", tasks_path(column: "description"), class: "underline" %>
      <!-- <%= link_to "DueDate", tasks_path(column: "dueDate"), class: "underline" %> -->
      <%= link_to "Status", tasks_path(column: "status"), class: "underline" %>      
      <%= link_to "Reset filter", tasks_path, class: "underline" %>
    </div>
    
    <%== pagy_nav(@pagy)%>
      <%= turbo_frame_tag "tasks_data" do %>
   <div class="max-w-full overflow-x-auto flex flex-wrap justify-center">
      <% @tasks.each do |task| %>
        <% if task.user_id == current_user.id %>
          <div class="bg-white text-wrap border-l-8 <%= task.status == "pending" ? 'border-blue-500' : 'border-green-500' %> text-black px-6 py-4 rounded-lg shadow-md m-4 max-w-sm">
            <p class="font-bold text-lg mb-2">
              <%= task.title %>
              <span class="inline-block text-white text-xs font-bold capitalize px-2 py-1 rounded-full ml-2 <%= task.status == "pending" ? 'bg-blue-500' : 'bg-green-500' %>">
                <%= task.status %>
              </span>
            </p>
            <p class="text-gray-700 mb-2" style="overflow-wrap: break-word;"><%= task.description %></p> <!-- Apply overflow-wrap here -->
            <p class="text-gray-600"><strong>Due Date:</strong> <%= task.dueDate %></p>
             <div class="flex justify-end mt-4">
                <%= link_to task, data: { turbo_frame: "_top" }, class: "font-bold text-gray-400 hover:text-white hover:bg-blue-500 border border-gray-400 rounded-full px-4 py-2 transition duration-300 ease-in-out" do %>
                  <i class="fas fa-eye"></i>
                <% end %>

                <%= link_to edit_task_path(task), data: { turbo_frame: "_top" }, class: "font-bold text-gray-400 hover:text-white hover:bg-green-500 border border-gray-400 rounded-full px-4 py-2 ml-2 transition duration-300 ease-in-out" do %>
                  <i class="fas fa-edit"></i>
                <% end %>

                <%= button_to task, method: :delete, remote: true, data: { turbo_frame: "_top", turbo_confirm: 'Are you sure?' }, class: "font-bold bg-transparent text-gray-400 hover:text-white hover:bg-red-500 border border-gray-400 rounded-full px-4 py-2 ml-2 transition duration-300 ease-in-out" do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>

          </div>
        <% end %>
      <% end %>
      
    </div>
  <% end %>
  
    </div>
  <% end %>
</div>
