<div class="max-w-md mx-auto">
  <div class="bg-white shadow-md rounded-lg px-8 py-6 mb-8">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Task Details</h1>

    <div class="mb-6">
      <p class="text-lg font-semibold text-gray-700"><strong>Title:</strong> <%= @task.title %></p>
    </div>

    <div class="mb-6">
      <p class="text-lg font-semibold text-gray-700"><strong>Description:</strong> <%= @task.description %></p>
    </div>

    <div class="mb-6">
      <p class="text-lg font-semibold text-gray-700"><strong>Due Date:</strong> <%= @task.dueDate.strftime('%Y-%m-%d') %></p>
    </div>

    <div class="flex items-center justify-between">
      <%= link_to 'Edit', edit_task_path(@task), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out" %>
      <%= link_to 'Back', tasks_path, class: "text-blue-500 hover:text-blue-700 font-semibold" %>
    </div>
  </div>
</div>
