
<%= turbo_frame_tag "modal_#{current_user.id}", class: "z-50" do %>
  <div class="fixed inset-0 flex items-center justify-center z-40">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="bg-white rounded-lg shadow-xl max-h-full w-4/5 md:w-1/2 lg:w-2/3 z-50 overflow-y-auto">
      <div class="flex justify-between items-center bg-sky-500 p-4 rounded-t-lg">
        <div class="text-white font-semibold">Messages</div>
        <%= link_to cancel_modal_conversation_path, data: { turbo_frame: "modal_#{current_user.id}" } do %>
          <i class="fas fa-times text-red"></i>
        <% end %>
      </div>
      <div class="flex h-screen">
        <!-- Left Column: Conversations List -->  
          <!-- Turbo Frame for new conversation form -->
      <%= turbo_frame_tag "new_conversation_#{current_user.id}" , class: "z-51"  do %>
  
      <% end %>

      <% end %>


        <div class="w-full md:w-1/3 lg:w-1/4 bg-gray-100 border-r overflow-y-auto">
          <div class="p-4">
            <h2 class="text-xl font-bold mb-4">Conversations</h2>
             <%= link_to new_conversation_path , data: { turbo_frame: "new_conversation_#{current_user.id}" }, class: "text-white bg-blue-500 hover:bg-blue-600 p-2 rounded-full" do %>
              <i class="fas fa-plus"></i>
            <% end %>
            <ul>
              <% @conversations.each do |conversation| %>
                <li class="mb-4">
                  <%= link_to conversation_path(conversation), data: { turbo_frame: "modal" }, class: "flex items-center p-2 hover:bg-gray-200 rounded-lg" do %>
                    <%= image_tag conversation.user.avatar, class: "w-12 h-12 rounded-full mr-3" if conversation.user.avatar.attached? %>
                    <div>
                      <p class="text-gray-900 font-semibold"><%= conversation.user.username %></p>
                      <p class="text-gray-600 text-sm"><%= conversation.user.email %></p>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <!-- Right Column: Chat Messages and Form -->
        <div class="w-full md:w-2/3 lg:w-3/4 bg-white flex flex-col">
          <!-- Messages Receiver details -->
          <div>
          <h2 class="text-xl font-bold mb-4"><%= %> </h2>
          </div>
          <!-- Messages List -->
          <%= turbo_frame_tag "chat_messages" do %>
            <div class="flex-1 p-4 overflow-y-auto">
              <div id="chat_messages" class=" ">
                <%= render partial: 'conversations/messages', collection: @messages %>
              </div>
            </div>
          <% end %>

          <!-- Message Form -->
        </div>
      </div>
    </div>
  </div>
