<div class="container mx-auto mt-2">
  <h1 class="text-3xl font-bold mb-4">Task Dashboard</h1>

  <!-- Tasks Overview -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
    <!-- General dashboard item -->
    <div class="bg-white rounded-lg shadow-md p-4">
  <h2 class="text-xl font-semibold mb-4">Tasks Overview</h2>

  <!-- Total Tasks -->
  <div class="flex items-center mb-2">
    <span class="mr-2">Total Tasks:</span>
    <%= @tasks.count %>
  </div>

  <!-- Completed Tasks -->
  <div class="flex items-center mb-2">
    <span class="mr-2">Completed:</span>
    <%= @tasks.where(status: 'completed').count %>
  </div>

  <!-- Pending Tasks -->
  <div class="flex items-center mb-4">
    <span class="mr-2">Pending:</span>
    <%= @tasks.where(status: 'pending').count %>
  </div>

  <h2 class="text-xl font-semibold mb-2">Task Progress</h2>

  <!-- Progress Bar -->
  <div class="flex items-center mb-2">
    <p class="mr-4"><%= (@tasks.where(status: 'completed').count.to_f / @tasks.count.to_f * 100).round %> % Completed</p>
    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
      <div class="bg-blue-500 h-2.5 rounded-full" style="width: <%= (@tasks.where(status: 'completed').count.to_f / @tasks.count.to_f * 100).round %>%;"></div>
    </div>
  </div>
</div>


    <!-- Pie Chart -->
    <div class="bg-white rounded-lg shadow-md p-4">
      <h2 class="text-xl font-semibold mb-2">Task Status Distribution</h2>
      <canvas id="taskStatusChart" width="400" height="400"></canvas>
    </div>


</div>

<style>
  .progress-bar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 4px;
  }
</style>

<script>
  var ctx = document.getElementById('taskStatusChart').getContext('2d');
  var taskStatusChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ['Completed', 'Pending'],
      datasets: [{
        label: 'Task Status Distribution',
        data: [<%= @tasks.where(status: 'completed').count %>, <%= @tasks.where(status: 'pending').count %>],
        backgroundColor: [
          'rgb(18,185,129)',
          'rgb(59,129,246)'
        ],
        borderColor: [
          'rgba(75, 192, 192, 1)',
          'rgba(255, 230, 0, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
    }
  });
</script>
